
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
header {
    background-color: beige;
    height: 20vh;
    padding: 15px;
}
#start-time {
    font-size: 150%;
    background-color: blue;
    color: antiquewhite;
}
#container {
    display: flex;
    height: 80vh;
    background-color: aquamarine; 
}

.ans1,.ans2,.ans3,.ans4 {
    Background-color: salmon;
    }
main {
    
    width: 70%;
    justify-content: center;
    align-items: center;
}

aside {
    width: 30%;
    background-color: bisque;
}